/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}
header {
    background-color: #003580;
    color: white;
    text-align: center;
    padding: 20px 0;
}
header img {
    max-width: 100px;
    margin-bottom: 10px;
}
header h1 {
    margin: 0;
    font-size: 24px;
}

/* Menú de navegación */
nav {
    display: flex;
    justify-content: center;
    background-color: #004ba0;
    padding: 10px 0;
}
nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-size: 18px;
}
nav a:hover {
    text-decoration: underline;
}

/* Secciones */
section {
    padding: 40px 20px;
    text-align: center;
}
section h2 {
    font-size: 24px;
    margin-bottom: 20px;
}
section p {
    font-size: 18px;
    line-height: 1.6;
    color: #333;
}

/* Pie de página */
footer {
    background-color: #003580;
    color: white;
    text-align: center;
    padding: 10px 0;
    font-size: 14px;
}




form {
    max-width: 500px;
    margin: 0 auto;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
}
form label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}
form input, form textarea, form button {
    width: 100%;
    margin-bottom: 15px;
    padding: 4px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}
form button {
    background-color: #004ba0;
    color: white;
    border: none;
    cursor: pointer;
    font-weight: bold;
}
form button:hover {
    background-color: #003580;
}
